Django==2.0.2
psycopg2==2.7.4
psycopg2-binary==2.7.4
coverage==4.3.4
flake8==3.3.0
pytest==3.0.7
pytest-cov==2.4.0
pytest-mock==1.6.0
requests==2.13.0
click==6.7
pep8==1.5.7
pep8-naming==0.4.1
pycodestyle==2.3.1