django
gunicorn
django-heroku
mysqlclient

jwt

psycopg2
psycopg2-binary
coverage==4.3.4
flake8==3.3.0
pytest==3.0.7
pytest-cov==2.4.0
pytest-mock==1.6.0
requests==2.13.0
click==6.7
pep8==1.5.7
pep8-naming==0.4.1
pycodestyle==2.3.1
imgurpython==1.1.7
Pillow
autopep8==1.3.4
whitenoise
datatables==0.4.9
django-datatables-view==1.15.1
sendgrid
waitress==1.1.0
pipenv==11.9.0
dj-database-url==0.5.0
pytz==2018.3
mock==2.0.0

Pyrebase==3.0.27