<!DOCTYPE html>
{% load static %}
    <html>
        <head>
            <link href="{% static 'css/material.css' %}" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="{% static 'css/header.css' %}"  media="screen,projection"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>
        <body>
            <footer class="page-footer light-blue lighten-1">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Fly-it</h5>
                            <p class="grey-text text-lighten-4">Localized and Personalized Advertisement Platform.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2018 fly-it
                    </div>
                </div>
            </footer>
            <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        </body>
    </html>