<!DOCTYPE html>
            {% block header %}
            <nav class="light-blue lighten-1" role="navigation">
                <div class="nav-wrapper">
                    <a href="#" class="right s2 brand-logo">{{merchant_name}}</a>
                    <a href="#" data-target="slide-out" class="s1 sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    </ul>
                </div>
            </nav>
            {% endblock %}
            