<!DOCTYPE html>
{% extends 'myapp/template/base.html/' %}
{% load static %}
            {% block navmenu %}
            <li><a href="/myapp/broadcast/"><i class="material-icons">send</i>Broadcast</a></li>
            <li><a href="#"><i class="material-icons">history</i>History</a></li>
            <li><a href="/myapp/statistic"><i class="material-icons">show_chart</i>Statistics</a></li>
            <li><a href="#"><i class="material-icons">chat</i>Chat</a></li>
            <li class="active"><a href="/myapp/profile/"><i class="material-icons">account_box</i>My Profile</a></li>
            {% endblock %}
        {% block content %}
        <div class="container">
            <h3 class="cyan-text center">My Profile</h3>
            <div class="divider"></div>
            <div class="container">    
                <div class="row">
                    <div class="col s12 m12 l10 offset-l1">
                        <div class="card">
                            <div class="card-image">
                                {% if profile_picture != "" %}
                                <img src="{{ profile_picture }}">
                                {% else %}
                                <img src="/../static/image/coba.jpeg">
                                {% endif %}
                                <span class="card-title">{{ name }}</span>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s6">
                                        <label for="{{ first_name.id_for_label }}">First Name</label>
                                        <p>{{ first_name }}</p>
                                    </div>
                                    <div class="col s6">
                                        <label for="{{ last_name.id_for_label }}">Last Name</label>
                                        <p>{{ last_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label for="{{ merchant_name.id_for_label }}">Merchant Name</label>
                                        <p>{{ merchant_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label for="{{ email.id_for_label }}">Email Address</label>
                                        <p>{{ email }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="myapp/editProfile">Edit my profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        {% endblock %}