{% load rest_framework %}

<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 15%;
}

td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
}
</style>
</head>
<body>

  {% if success %}
  <script>
      alert('Daily Exchange Inserted')
  </script>
  {% endif %}
  {% if failed %}
  <script>
      alert('Please insert new Currency first')
  </script>
  {% endif %}

  <form action="{% url 'daily_exchange' %}" method="POST">
      {% csrf_token %}
    <table>
      <tr>
        <td>Type</td>
        <td>Input</td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="date" name="exchange_date"
          style="color: #ff0000;"
          value={{ exchange_date }}></td>
      </tr>
      <tr>
        <td>From</td>
        <td><input type="text" name="currency_from"
          maxlength="3" style="color: #ff0000;"
          value={{ currency_from }}>
        </td>
      </tr>
      <tr>
        <td>To</td>
        <td><input type="text" name="currency_to"
          maxlength="3" style="color: #ff0000;"
          value={{ currency_to }}>
        </td>
      </tr>
      <tr>
        <td>Rate</td>
        <td><input type="number" name="exchange_rate"
          step="any" style="color: #ff0000;"
          value={{ exchange_rate }}></td>
      </tr>
    </table>
    <input type="submit" value="Submit">
</form>

</body>
</html>
